.asided-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.aside {
  max-width: none;
}

.asided-main {
  width: 100%;
}

.aside-inner {
  display: flex;
  flex-direction: column;
}

.aside-item {
  background: white;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.aside-item-term a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

@media (min-width: 600px) {
  .asided-container {
    flex-direction: row;
  }

  .asided-main {
    width: auto;
    flex-grow: 1;
    margin-right: 10px;
  }

  .aside {
    max-width: 300px;
  }
}
