
.list {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: white;
  border-radius: 10px;
}

.list-item {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  background: white;
  margin-bottom: 10px;
}
.list-item  a{
  text-decoration: none;
  color: inherit;
}
