
.list {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  background: white;
  border-radius: 10px;
  list-style: none;
  margin: 0 0 10px;
}

.list-item {
  list-style: none;
  margin-bottom: 20px;
}

.list-item-inner {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  background: white;
  overflow: hidden;
}

.list-item-inner:active {
  opacity: 0.4;
}

.list-item-col {
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
}

.list-item-thumbnail-container {
  background: #F5F5F5;
  align-items: center;
  justify-content: center;
  display: flex;
}

.list-item-thumbnail {
  object-fit: contain;
  width: 100%;
}

.list-item img {
  max-width: 100%;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}

.list-item-title {
  text-align: left;
}

.list-item-col-text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item-desc {
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.25em;
  margin: 0;
  text-align: left;
}

@media (min-width: 480px) {
  .list-item-inner {
    flex-direction: row;
  }
  .list-item-col {
    width: 50%;
  }
}
